%h1 Listing protocols

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @protocols.each do |protocol|
    %tr
      %td= protocol.name
      %td= link_to 'Show', protocol
      %td= link_to 'Edit', edit_protocol_path(protocol)
      %td= link_to 'Destroy', protocol, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Protocol', new_protocol_path
