<!DOCTYPE html>
<html>
<head>
  <title>Protocolonel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_tag do %>
  if (typeof Protocolonel != 'undefined') {
    Protocolonel.init(<%= @_protocols.to_json.html_safe %>);
  }
<% end %>

</body>
</html>
